h2 a {
	color: lightblue !important;
}

#scratch {
	font-family: Helvetica, sans-serif;
	background-color: #FFA221;
}

#youtube {
	font-family: sans-serif;
	background-color: #CD201F;
}

#reddit {
	font-family: Verdana, sans-serif;
	background-color: #CEE3F8;
	text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#so {
	font-family: Arial, sans-serif;
	color: orange;
	background-color: white;
}

#chess {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	background-color: darkgreen;
}

#steam {
	font-family: Tahoma, sans-serif;
	background-color: #1B2838;
}

#origin {
	font-family: Arial, sans-serif;
	background: linear-gradient(#DDA64B, #E55E26);
}

#github {
	color: black;
	font-family: Helvetica, sans-serif;
	background-color: white;
	font-weight: bold;
}

#github a {
	color: gray;
}