@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Roboto);

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(100,100,100,0.2); 
}

a {
	color: lightblue;
}

body {
	color: white;
	background-color: black;
	text-align: center;
	font-family: Georgia, sans-serif;
	font-weight: 100;
	word-wrap: break-word;
}

h1 {
	font-size: 5em;
	font-family: Open Sans;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

input {
	font-size: 1em;
	width: 2.5em;
	height: 1.5em;
	text-align: center;
}

#scratch {
	font-family: Helvetica, sans-serif;
	background-color: #FFA221;
}

#youtube {
	font-family: Roboto, sans-serif;
	background-color: #CD201F;
}

#reddit {
	font-family: Verdana, sans-serif;
	background-color: #CEE3F8;
	text-shadow: 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}

#so {
	font-family: Arial, sans-serif;
	color: orange;
	background-color: white;
}

#chess {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	background-color: darkgreen;
}

#steam {
	font-family: Tahoma, sans-serif;
	background-color: #1B2838;
}

#origin {
	font-family: Arial, sans-serif;
	background: linear-gradient(#DDA64B, #E55E26);
}

#github {
	color: black;
	font-family: Helvetica, sans-serif;
	background-color: white;
	font-weight: bold;
}

#github a {
	color: gray;
}

#code {
	font-size: 0.5em;
	color: white;
	background-color: midnightblue;
	width: 60%;
	margin-left: 20%;
	padding: 1%;
	text-align: left;
	font-family: monospace;
	margin-top: 5vh;
	tab-size: 4;
}

#ll {
	margin-right:5%;
}

#lr {
	margin-left:5%;
}

#ll, #lr {
	border: 1px solid lightblue;
	padding: .5em;
	text-decoration: none;
	font-family: Open Sans;
}

#prog {
	font-size: 1.5em;
	padding: 2%;
	text-align: center;
}

#whitebox {
	font-size: 2em;
	color: black;
	background-color: white;
	width: 80vw;
	margin: 5vh auto;
	padding: 2%;
}

.select {
	margin: 5% 10% 10%;
	font-size: 1.5em;
}

.acc  {
	transition: all .25s ease-in-out;
	height: 0;
	font-size: 0;
	padding: 0;
	overflow: hidden;
}

.click {
	font-size: 2em;
	border: solid white;
	border-width: 0.5px 2px 0.5px 2px;
	box-sizing: border-box;
	width: 100%;
	padding: .125em;
	user-select: none;
}
