@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Roboto);

::-webkit-scrollbar
{
    width: 12px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(100,100,100,0.2); 
}

a {
	color: lightblue;
}

body {
	color: white;
	background-color: black;
	text-align: center;
	font-family: Georgia, sans-serif;
	font-weight: 100;
	word-wrap: break-word;
}

h1 {
	font-size: 5em;
	font-family: Open Sans;
}

h2 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.5em;
}

input {
	font-size: 1em;
	width: 2.5em;
	height: 1.5em;
	text-align: center;
}

#ll, #lr {
	border: 1px solid lightblue;
	padding: .5em;
	margin: 0 5%;
	text-decoration: none;
	font-family: Open Sans;
}

#prog {
	font-size: 1.5em;
	padding: 2%;
	text-align: center;
}

#whitebox {
	font-size: 2em;
	color: black;
	background-color: white;
	width: 80vw;
	margin: 5vh auto;
	padding: 2%;
}